/*shortcuts*/
.imageRound{
	border-radius:50%;  		
}
.bg-black1{
	background-color: #232323;
}
.bg-grey{
	background-color: #f4f4f4;/*grey*/
}
.black{
	color: black;
}
	/*will be changed later*/
@media (max-width: 991px) {
	.img-coffee_bag{
		width: 180px;
	}
}
@media (max-width: 425px) {
	.img-coffee_bag{
		width: 100px;
	}
}


/*containers*/
.container-fluid{
	padding: 60px 50px;
	transition: all .5s;
}
@media (max-width: 425px) {
	.container-fluid{
		padding: 60px 25px;
	}
}
.container-after-jumbotron{
	padding: 40px 50px 60px;
}
@media (max-width: 425px) {
	.container-after-jumbotron{
		padding: 20px 25px 60px;
	}
}
.container-navbar{
	padding: 10px 25px 0px;
}
.container-table{
  padding: 60px 50px;
  margin-right: auto;
  margin-left: auto;
  width: 1080px;
}
.container-fixed{
	width: 1349px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 50px;
}
.jumbotron{
	background-color: #232323;/*scraps color*/
	color: #ffffff;
	padding: 150px 25px;
}
.btn-jumbotron{
	margin: 10px 50px;
	width: 250px;

}


/*navbar*/
.navbar{
	margin-bottom: 0;
	background-color: white;	
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;  
}
.navbar li a, .navbar-brand{
	color: brown !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
	color: white !important;
	background-color: #3E2723 !important;
}
.navbar-default .navbar-toggle{
	border-color: transparent;
	color: #fff !important;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
@media (max-width: 300px) {
	.navbar-brand{
		width: 160px;
	}
}


/*index*/
.banner-main{
	margin-top: 60px;
	background-image: url("../asset/table_background.jpg");
	background-position: center;
	background-size: cover;
	height: 605px;
	visibility: visible;
	transition: opacity 1s, padding .5s;
}
@media (max-width: 991px) {
	.banner-main{
		visibility: hidden;
		height: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		transform: scale(0);
		overflow: hidden;
	}
}
.pl-3{
	padding-left: 3%;
}
.banner-main-md{
	visibility: hidden;
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	transform: scale(0);
	transition: opacity 1s, padding .5s;
}
@media (max-width: 991px) {
	.banner-main-md{
		visibility: visible;
		height: auto;
		opacity: 1;
		transform: scale(1);
		padding: 60px 50px;
	}
}
@media (max-width: 425px) {
	.banner-main-md{
		padding: 60px 25px;
	}
}

@media (max-width: 425px) {
	.font-header-mobile{
		font-size: 70%;
	}
}
@media (max-width: 425px) {
	.font-p-mobile{
		font-size: 60%;
	}
}
.btn-banner{
	background-color: transparent;
	border: 2px solid #3E2723;
	color: #3E2723;
	transition: background-color .3s, color .2s;
}
.btn-banner:hover{
	background-color: #3E2723;
	color: #fff;
}
.line{
	max-width: 1249px;
	border-top: 1px solid #eee;
}


/*subscribe*/
.subscribeQuestion{
	margin-right: 20px;
	font-weight: normal;
}
.inputText{
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 6px 12px;
}
.inputText:focus{
	outline: none;
	border-bottom: 2px solid #3E2723; 
}
.dropdown{
	display: inline-block;
}

/*shopping cart*/
.summary{
	border: 1px solid #3E2723;
	width: 100%;
	padding: 20px;
}
.strong{
	font-weight: bold; 
}
td{
	vertical-align: top;
}

/*payment confirmation*/
.bank{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.icon-bank{
	width: 180px;
	height: 100px;
}
@media (max-width: 767px) {
	.text-center-xs{
		text-align: center;
	}
}
@media (max-width: 425px) {
	.text-right-xxs{
		text-align: right;
	}
}

/*beans*/
.gallery-image{
	position: relative;
}
.gallery-image img{	
	width: 100%;
}
.gallery-info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: all .5s;
}
.gallery-info:hover{
	opacity: 0.75;
}
.gallery-info-inner{
	position: relative;
	top: 20%;
	padding: 20px;
	
}

/*footer*/
footer ul{
	list-style-type: none;
	padding: 0;
}
footer a{
	color: #fff;	
}
footer a:hover{
	text-decoration: none;
	color: #ddd;
}
.icon-social-media{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}


/*animation*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1500ms; 
    -webkit-animation-duration: 1500ms;
    /* Make the element visible */
    visibility: visible; 
}

	/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*finishing font*/
body{
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	color: #818181;
}
.jumbotron, .navbar {
    font-family: Montserrat, sans-serif;
}
h2 {
    font-size: 24px;    
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
