/*shortcuts*/
.imageRound{
	border-radius:50%;  		
}
.bg-black1{
	background-color: #232323;
}
.bg-grey{
	background-color: #f4f4f4;/*grey*/
}
.bg-grey1{
	background-color: #f8f8f9;
}
.bg-grey2{
	background-color: #f1f1f1;
}
.bg-brown{
	background-color: #eeba8e;
}
.black{
	color: black;
}
.link-text:hover{
	text-decoration: none;
}
.shadow:hover{
	box-shadow: 2px 8px 20px 0 rgba(31,32,68,.25);
	transform: scale(1.01);
	transition: all .5s ease;
}


/*containers*/
.container-fluid{
	padding: 60px 50px;
	transition: all .5s;
}
@media (max-width: 425px) {
	.container-fluid{
		padding: 60px 25px;
	}
}
.container-after-jumbotron{
	padding: 40px 50px 60px;
}
@media (max-width: 425px) {
	.container-after-jumbotron{
		padding: 20px 25px 60px;
	}
}
.container-navbar{
	padding: 10px 25px 0px;
}
.container-table{
  padding: 60px 50px;
  margin-right: auto;
  margin-left: auto;
  width: 1080px;
}
.container-inner{
	padding: 60px 25px;
}
@media (min-width: 425px) {
	.container-inner{
		padding: 60px 50px;
	}
}
@media (min-width: 992px) {
	.container-inner{
		padding: 60px 100px;
	}
}
@media (min-width: 1200px) {
	.container-inner{
		padding: 60px 150px;
	}
}
.container-outer{
	background-image: url("../asset/table_background2.jpg");
	background-position: center;
	background-size: cover;
}
.container-full{
	padding: 0;
	position: relative;/*needed for general fullscreen?*/
}
.container-fixed{
	max-width: 984px;
	margin: 0 auto;
	padding: 0;
}
@media (min-width: 768px) {
	.container-fixed{
		padding: 0 20px;
	}
}

.jumbotron{
	background-color: #232323;/*scraps color*/
	color: #ffffff;
	padding: 150px 25px;
}
.btn-jumbotron{
	margin: 10px 50px;
	width: 250px;

}


/*navbar*/
.navbar{
	margin-bottom: 0;
	background-color: white;	
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;  
}
.navbar li a, .navbar-brand{
	color: brown !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
	color: white !important;
	background-color: #3E2723 !important;
}
.navbar-default .navbar-toggle{
	border-color: transparent;
	color: #fff !important;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
@media (max-width: 300px) {
	.navbar-brand{
		width: 160px;
	}
}
.navBurger{
	float: none;
}


/*index*/
.banner-main{
	margin-top: 60px;
	padding: 0px 3%;	
	background-color: rgba(26, 26, 26, 0.3);	
	height: 602px;
	visibility: visible;
	transition: opacity 1s, padding .5s;
}
@media (max-width: 991px) {
	.banner-main{
		visibility: hidden;
		height: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		transform: scale(0);
		overflow: hidden;
	}
}
.pl-3{
	padding-left: 3%;
}
.tagline{
	position: absolute;
	left: 40%;
	transform: translateY(90%);
	opacity: 1;
	transition: opacity .35s ease-out;
}
.layer-tagline:hover .tagline{
	opacity: 0;
}
.layer{
	padding: 0px 3%;
}
.layer:hover{
	background-color: rgba(26, 26, 26, 0.3);
	transition: all .25s ease-out;
}
.layer:hover .banner-info{
	opacity: 1;
	visibility: visible;
}
.slide-logo{
	position: absolute;
	left: calc(50% - 45px);
	z-index: 2;
	pointer-events: none;/*disable any mouse events,i.e:hover,etc*/
	/*transition: all .35s ease-in;*/
}
/*.layer-tagline:hover .slide-logo{
	transition: all .35s ease-out;
}*/
.banner-info{
	visibility: hidden;
	opacity: 0;
	max-width: 400px;
	margin: 0 auto;
	padding-top: 100px;
	margin-bottom: 50px;
	transition: all .35s ease-out;
}

.banner-main-md{
	visibility: hidden;
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	transform: scale(0);
	transition: opacity 1s, padding .5s;
}
@media (max-width: 991px) {
	.banner-main-md{
		visibility: visible;
		height: auto;
		opacity: 1;
		transform: scale(1);
		padding: 60px 50px 0px;
	}
}
@media (max-width: 425px) {
	.banner-main-md{
		padding: 60px 25px;
	}
}

@media (max-width: 425px) {
	.font-header-mobile{
		font-size: 70%;
	}
}
@media (max-width: 425px) {
	.font-p-mobile{
		font-size: 60%;
	}
}
.font-header{
	font-size: 40px;
}
@media (max-width: 425px) {
	.font-header{
		font-size: 28px;
	}
}
.font-info{
	font-size: 18px;
	color: grey;
}
@media (max-width: 425px) {
	.font-info{
		font-size: 16px;
	}
}
.btn-banner{
	background-color: transparent;
	border: 2px solid #3E2723;
	color: #3E2723;
	transition: background-color .3s, color .2s;
}
.btn-banner:hover{
	background-color: #3E2723;
	color: #fff;
}
.how-to-kopigenik-banner{
	background-image: url('../asset/bg-how-to-kopigenik.png'); 
	background-size: cover; background-position: center; 
	height: 400px;
}
.video-overflow{
	position: relative;
	padding: 0;
	overflow: hidden;
	height: 225px;
}
@media (min-width: 768px) {
	.video-overflow{	    
	    position: absolute;
	    top: 0;	
	    bottom: 0;
	    left: 0; 
	    height: auto; 	 
	    width: 50%; 
	}
}
.video-info{
	padding: 60px 50px;
	transition: padding .5s;
}
@media (min-width: 768px) {
	.video-info{
		padding: 80px 1.2% 180px 0px;		
	}
}
@media (max-width: 425px) {
	.video-info{
		padding: 60px 25px;		
	}
}
.video{
	height: auto;
	display: none;
}
@media (min-width: 768px) {
	.video{
		height: 100%;
		display: block;
	}
}
.video-banner{
	display: block;
	background-image: url("https://2nlsnb2fe1ed2nm0us28io0z-wpengine.netdna-ssl.com/wp-content/uploads/2016/06/Let%E2%80%99s-test-home-appliances-coffee-machines-4-640x360.jpg");
	background-size: cover;
	background-position: left center;
	height: 100%;
}
@media (min-width: 768px) {
	.video-banner{
		display: none;
	}
}

.section-block:hover .underline{
	max-width: 0;
	transition: max-width .5s;
}
.underline{
	background-color: #3E2723; 
	padding-top: 4px; 
	max-width: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	margin-top: -20px;
	transition: max-width .5s;
}
.underline-200{ 
	max-width: 200px;
}
.line{
	max-width: 1249px;
	border-top: 1px solid #eee;
	margin: 50px auto;
}


/*subscribe*/
.subscribeQuestion{
	margin-right: 20px;
	font-weight: normal;
}
.inputText{
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 6px 12px;
}
.inputText:focus{
	outline: none;
	border-bottom: 2px solid #3E2723; 
}
.dropdown{
	display: inline-block;
}

/*shopping cart*/
.summary{
	border: 1px solid #3E2723;
	width: 100%;
	padding: 20px;
}
.strong{
	font-weight: bold; 
}
td{
	vertical-align: top;
}

/*payment confirmation*/
.bank{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.icon-bank{
	width: 180px;
	height: 100px;
}
@media (max-width: 767px) {
	.text-center-xs{
		text-align: center;
	}
}
@media (max-width: 425px) {
	.text-right-xxs{
		text-align: right;
	}
}

/*beans*/
.gallery-image{
	position: relative;
}
.gallery-image img{	
	width: 100%;
}
.gallery-info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: all .5s;
}
.gallery-info:hover{
	opacity: 0.75;
}
.gallery-info-inner{
	position: relative;
	top: 20%;
	padding: 20px;
	
}

/*footer*/
footer ul{
	list-style-type: none;
	padding: 0;
}
footer a{
	color: #fff;	
}
footer a:hover{
	text-decoration: none;
	color: #ddd;
}
.icon-social-media{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}


/*animation*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1500ms; 
    -webkit-animation-duration: 1500ms;
    /* Make the element visible */
    visibility: visible; 
}

	/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*finishing font*/
body{
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	/*color: #818181;*/
}
.jumbotron, .navbar {
    font-family: Montserrat, sans-serif;
}
h2 {
    font-size: 24px;    
    /*color: #303030;*/
    font-weight: 500;
    margin-bottom: 30px;
}
h3 {
	font-weight: 400;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    /*color: #303030;*/
    font-weight: 400;
    margin-bottom: 30px;
}
